extends layout.jade
//-Declaring item mixin
mixin overview-item(att,val)
	li.item= att + " : " +  (val != null ? (val.toString()) : "Not present")
	
mixin snapshot-item(att,val)
	li.item= att + " : " +  (val != null ? val.toString() : "Not present")
	
mixin details-item(att,val)
	li.item= att + " : " +  (val != null ? val.toString() : "Not present")
		
block content
	div(id="title") Profile
	div(id="profile-container")
		div(class="profile-section" id="overview")
			div(class="section-title") Overview
			ul
				+overview-item("Name",profile.name)
				+overview-item("Company",profile.company)
				+overview-item("Location",profile.location)
			
		div(class="profile-section" id="snapshot")
			div(class="section-title") Snapshot
			ul
				+snapshot-item("Github repos",profile.repo_count)
				+snapshot-item("Github commits",profile.commit_count)
				+snapshot-item("Languages",profile.languages)
					ul
						for lang in profile.languages
							li=lang
				+snapshot-item("Skills",profile.skills)
					ul
						for skill in profile.skills
							li=skill
		
		div(class="profile-section" id="details")
			div(class="section-title") Details
			ul
				+details-item("Bio",profile.bio)
				+details-item("Experience",profile.experience)
				+details-item("Education",profile.education)